<footer class="footer">
<div class="container-fluid bg-dark text-light">
    <div class="row text-center p-5">
        <div class="col-md-6 col-lg-4 order-2 order-md-1 pb-5 pb-md-0">
           
        
    </div>
    <div class="row" id="copyright">
        <div class="col-12 text-center">
            <p>Copyright &copy; 2022 | <a href="#" class="text-light">mentions légales</a> - <a href="#" class="text-light">CGV</a></p>
        </div>
    </div>
</div>
</footer>