{% extends 'base.html.twig' %}

{% block title %}accueil{% endblock %}

{% block body %}

<body class="container-fluid">
  <div class="d-flex mb-3">
    <div class="me-auto p-2">
      <div class="img">
        <img src="{{ asset('img/Chef_home.jpg') }}">
      </div>
      <div class="card text-bg-light mb-3" style="max-width: 18rem;">
        <div class="card-header">
          <h1 class="card-title"> chef privé</h1>
        </div>
        <div class="card-body">
          <p class="card-text">vivez une experience culinaire personalisée avec un chef au sein de votre espace
            personnel
          </p>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search for a chef" aria-label="Search">

        </div>

      </div>
      <div class="d-flex mb-3">
        <li>
          <h2>transformer votre maison en restaurant avec un chef privé</h2> <br>
          <p> choisiser votre menu composé par le chef, et il s'occupera du reste</p>
        </li>
      </div>
      <li>
        <h2>Nos chefs privés auront le plaisir de cuisiner chez vous</h2>
        <p>Quelques heures avant votre dîner, votre chef arrivera et commencera à préparer le menu sur lequel vous vous
          êtes mis d'accord.

          Vous aurez l'opportunité de regarder et apprendre de nouvelles recettes de votre chef pendant qu'il cuisine
          chez vous!</p>
      <li>
        <h2>nous vous servirons chaque plat</h2>
      </li>
      <p>Votre chef privé et son équipe se chargeront du service à table, ils vous guideront à travers chaque détail
        dans chaque plat afin que vous puissiez vivre une expérience culinaire unique dans le confort de votre propre
        maison.

        Grâce à notre service discret et professionnel, nous garantissons que vous et vos invités pourront profiter de
        la soirée sans vous soucier!</p>
      </li>
      <li>
        <h2>Nous vous laisserons la cuisine imppecable!</h2>
        <p>Le nettoyage est une partie essentielle d'un service parfait! Avant de partir, le chef et son équipe
          s'assureront que chaque équipement et vaisselle utilisés dans le service seront laisser tels qu'ils les ont
          trouvés.

          Détendez-vous et profitez de votre soirée en toute tranquillité, votre chef privé va tout prendre en charge!
        </p>
      </li>
    </div>
  </div>

</body>

</html>

{% endblock %}