{% extends 'base.html.twig' %}

{% block title %}Modification mot de passe{% endblock %}
{% block description %}Cette pages permet de modifier le mot de passe {% endblock %}

{% block body %}
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>creer nouveau mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
               
                Enter votre email afin de recevoir  votre nouveau mot de passe.
            </small>
        </div>

        <button class="btn btn-lg btn-outline-success mt-3" >Envoyer</button>
    {{ form_end(requestForm) }}
{% endblock %}
