/* **************************************** RESET **************************************** */

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

/* **************************************** GLOBAL **************************************** */

* {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'Amatic SC', sans-serif;
}

h1, h2 {
    text-align: center;
}

/* **************************************** HEADER **************************************** */

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

header img {
    height: 35px;
}

/* **************************************** MAIN **************************************** */
main{

   
}

/* **************************************** FOOTER **************************************** */

footer {
    padding: 0;
    position: sticky;
}

footer a {
    text-decoration: none;
}

footer #copyright p {
    font-size: 0.75rem;
}
