<form method="post" action="{{ path('app_menu_img_delete', {'id': menu_img.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu_img.id) }}">
    <button class="btn">Delete</button>
</form>
