{% extends 'baseAdmin.html.twig' %}

{% block title %}accueil Espace Admin{% endblock %}

{% block body %}

{# accueil de l'espace admin #}


    <h1 class="mb-5">Bonjour!  Bienvenue sur l'espace administrateur de Rent A chef</h1>

    <p class="text-center">Merci de cliquer sur un lien dans le menu de gauche pour commencer à administrer votre site. le contenu apparaîtra dans cette section.</p>



{% endblock %}

