{% extends 'base.html.twig' %}

{% block title %}Edit Adress{% endblock %}

{% block body %}
    <h1>Edit Adress</h1>

    {{ include('adress/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_adress_index') }}">back to list</a>

    {{ include('adress/_delete_form.html.twig') }}
{% endblock %}
