{% extends 'base.html.twig' %}
{% block description %}Page liste des chef disponible
du site{% endblock %}

{% block title %}liste des Chefs{% endblock %}
{% block stylesheets %}
<style>
    * {
        margin: 0;
        padding: 0;
        list-style-type: none;
        text-decoration: none;
    }
    
    body{
        background: -webkit-linear-gradient(left, #076827, #b7ddc3);
    }
    .emp-cheflist{
        padding: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        border-radius: 0.5rem;
        background: #fff;
    }
</style>
{% endblock %}


{% block body %}

<section class="container emp-cheflist ">
    <h1>Rencontrez nos chefs privés en France </h1>
    <div class=" container px-2">
        <div class="row p-3">
            {% for chef in chefs %}

            <div class="card text-center col col-md-4 ">
                <div class=" card-image ">
                    <img class="img-fluid w-50 " src="{{ asset('img/chef-pic/' ~ chef.ImgProfil) }}"
                        alt="chef-ProfilId">
                </div>

                <div class="card-content d-flex flex-column align-items-center">
                    <h5 class="pt-2"> Chef {{ chef.Firstname }} {{ chef.Lastname }} </h5>
                    <p class="card text"></p>
                    <a href="{{ path('app_profil_chef', {'id': chef.id}) }} "> voir Profil</a>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</section>

{% endblock %}